@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
}

.container__sidebar {
    padding: 11px 7px 7px 5px;
    margin: 0px 30px 0px 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: -2px 15px 20px 4px #0C0B0B;
    background-color: #0c0b0b;
    position: fixed;
    top: 0;
    bottom: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
    position: relative;
}

.sidebar__logo {
    display: flex;
    margin-left: 6px;
    margin-bottom: 44px;
}

#sidebar__logo-img {
    width: 36px;
}

.sidebar__center {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar__center>img {
    width: 26px;
    height: 26px;
    margin-bottom: 15px;
}

.sidebar__leave {
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 23px;
    padding-left: 8px;
}

#sidebar__leave-img {
    width: 32px;
    height: 29px;
}

.container__content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 73px;
}

.content__block-left {
    margin-top: 40px;
    width: 90%;
    max-width: 400px;
}

.block-left__hello {
    display: block;
}

.hello__block-hello-guys {
    display: flex;
    width: 100%;
    height: 105px;
    border-radius: 30px 30px;
    background-color: #F5F5F7;
}

.block-hello-guys__text {
    width: 60%;
    height: 100%;
}

.text__text-hello {
    display: flex;
    font-family: "Poetsen One";
    color: #0C0B0B;
    justify-content: center;
    font-size: 22px;
    margin-left: -8px;
    margin-top: 25px;
}

.text__text-best {
    display: flex;
    font-family: "Roboto";
    color: #7B7B7B;
    justify-content: center;
    margin-top: -22px;
    font-size: 15px;
    margin-left: 3px;
}

.block-hello-guys__man {
    width: 40%;
    height: 100%;
}

.block-hello-guys__man-img {
    height: 123px;
    width: 110px;
    margin-top: -17px;
    margin-left: -24px;
}


.hello__content-level {
    display: flex;
    margin: 10px 0px 0px 0px;
    width: 100%;
    height: 53px;
    justify-content: space-between;
}

.content-level__block-level {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 41px;
    padding: 4px;
    border-radius: 7px 7px;
    background-color: #F5F5F7;
}

.block-level__xbox-block {
    display: flex;
    width: 40px;
    height: 92%;
    padding: 3px;
    border-radius: 10px 10px;
    justify-content: center;
    background-color: #ffffff;
}

.block-level__xbox-img {
    width: 29px;
}

.block-level__block-text {
    background-color: #F5F5F7;
}

.block-text__text-english {
    font-family: "Poetsen One";
    margin-top: 5px;
    font-size: 14px;
    color: #000000;
}

.block-text__text-name {
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 400;
    margin-top: -12px;
    color: #0C0B0B;
}

.block-level__block-percentage {
    margin-top: 10px;
    width: 12%;
}

.block-percentage__percentage-img {
    width: 21px;
}

.block-level__block-continue {
    color: white;
}

.block-continue__continue-text {
    display: flex;
    width: 59px;
    height: 25px;
    font-size: 13px;
    margin: 7px 0px 0px 0px;
    border-radius: 7px 7px;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One";
    background: black;
}

.content-level__arrows-img {
    width: 17%;
    margin-top: -3px;
    margin-left: 3px;
}


.block-left__courses {
    display: block;
    margin-top: -6px;
}

.courses__block-course {
    margin-bottom: 6px;
}

.block-course__text-course {
    font-size: 17px;
    font-family: "Baloo Bhaijaan 2";
    font-weight: 700;
    margin: 0px;
}

.block-left__all-courses {
    display: flex;
    width: 100%;
    margin-top: -6px;
    justify-content: space-between;
}

.all-courses__text-courses {
    font-size: 15px;
    font-weight: 600;
    font-family: "Baloo Bhaijaan 2";
    margin-top: 0px;
    color: #000000;
}

.all-courses__languages-text {
    font-size: 15px;
    font-weight: 600;
    font-family: "Baloo Bhaijaan 2";
    margin: 0px 0px 0px 10px;
    color: #CDCCCC;
}


#courses-language {}

#language-blocks {
    display: flex;
    justify-content: space-between;
    height: 24%;
    padding: 5px;
    border-radius: 8px 8px;
    margin-bottom: 8px;
    background-color: #F5F5F7;
}

.language-blocks__block-img-logo {
    display: flex;
    width: 57px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px;
    background-color: #FFFFFF;
}

.block-img-logo__images-languages {
    width: 33px;
}

.language-blocks__languages-text-block {
    margin-left: 3px;
    width: 80px;
}

.languages-text-block__name-languages-text {
    font-family: "Baloo Bhaijaan 2";
    font-weight: 600;
    margin: 8px 0px 0px 0px;
    font-size: 15px;
}

.languages-text-block__description-text {
    font-family: "roboto";
    margin: -4px 0px 0px 0px;
    font-size: 14px;
}

.language-blocks__major-block {
    width: 128px;
    margin: 0px 3px 0px 3px;
}

.major-block__block-up {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.block-up__clock-block {
    margin-top: 2px;
}

.clock-block__img-clock {
    width: 20px;
}

.block-up__time-block {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.time-block__text-time {
    font-family: "roboto";
    font-size: 11px;
    margin: 0px;
}

.block-up__flame-block {}

.flame-block__img-flame {
    width: 16px;
}

.block-up__note-block {
    display: flex;
    align-items: center;
}

.note-block__number-note {
    font-family: "roboto";
    font-size: 12px;
    margin: 0px;
}

.major-block__block-down {
    display: flex;
    justify-content: center;
    height: 50%;
}

.block-down__block-view {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    border-radius: 8px 8px;
    background-color: #000000;
}

.block-view__text-view {
    margin: 0px;
    font-size: 10px;
    color: #FFFFFF;
}


.content__block-right {
    margin: 10px 7px 15px 0px;
    width: 90%;
    max-width: 400px;
}

.block-right__block-above {
    height: 120px;
}

.block-above__block-search {
    display: flex;
    width: 100%;
    height: 50px;
}

.block-search__block-search-img {
    width: 75%;
    height: 38px;
    border-radius: 10px 10px;
    background-color: #F5F5F7;

}

.block-search-img__img-search {
    width: 20px;
    margin: 8px 0px 0px 9px;
}

.block-search__bell-block {
    width: 10%;
    height: 100%;
}

.bell-block__img-bell {
    width: 20px;
    margin: 6px 0px 0px 3px;
}

.block-search__photo-block {
    width: 15%;
    height: 100%;
}

.photo-block__img-photo {
    width: 21px;
    margin: 8px 0px 0px 3px;
}

.photo-block__img-v {
    width: 10px;
    margin-bottom: 4px;
    margin-left: -2px;
}

.block-above__number-courses {
    display: flex;
    width: 100%;
    height: 65px;
}

.number-courses__courses-onnline {
    display: flex;
    width: 45%;
    margin-right: 8px;
    border-radius: 12px 12px;
    background-color: #F5F5F7;
}

.courses-onnline__text-eleven {
    font-family: "Poetsen One";
    margin: 11px 7px 0px 13px;
    font-size: 37px;
}

.courses-onnline__text-courses {
    font-family: "roboto";
    font-size: 14px;
    margin-top: 18px;
}

.number-courses__cursos-presenciales {
    display: flex;
    width: 50%;
    border-radius: 12px 12px;
    background-color: #F5F5F7;
}

.cursos-presenciales__text-four {
    font-family: "Poetsen One";
    margin: 11px 7px 0px 13px;
    font-size: 37px;
}

.cursos-presenciales__text-cursos {
    font-family: "roboto";
    font-size: 14px;
    margin-top: 18px;
}



.block-right__experience {
    display: block;
    width: 264px;
    height: 300px;
    margin: 5px 0px 0px 0px;
    background-color: darkmagenta;
}



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    body {
        background-color: red;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        background-color: blue;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}