@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Poetsen+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0%;
    padding: 0%;
}
.container{
    display: flex;
}

.container__sidebar{   
    padding: 11px 7px 7px 5px; 
    margin: 0px 30px 0px 0px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: -2px 15px 20px 4px #0C0B0B;
    background-color: #0c0b0b;
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
    position: relative;
}
.sidebar__logo{
    display: flex;
    margin-left: 6px;
    margin-bottom: 44px;
}
#sidebar__logo-img{
    width: 36px;
}
.sidebar__center{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebar__center > img{
    width: 26px;
    height: 26px;
    margin-bottom: 15px;
}

.sidebar__leave{
    display: flex;
    height: 70px;
    align-items: center;
    margin-top: 23px;
    padding-left: 8px;
}
#sidebar__leave-img{
    width: 32px;
    height: 29px;
}

.container__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 73px;
}
.content__block-left{
    margin: 39px 25px 15px 5px;
}
.block-left__hello{
    display: block;
}
.hello__block-hello-guys{
    display: flex;
    width: 100%;
    height: 105px;
    border-radius: 30px 30px ;
    background-color: #F5F5F7;
}
.block-hello-guys__text{
    width: 60%;
    height: 100%;
}
.text__text-hello{
    font-family: "Poetsen One";
    color: #0C0B0B;
    font-size: 22px;
    margin-left: 3px;
    margin-top: 25px;
}
.text__text-best{
    font-family: "Roboto";
    color: #7B7B7B;
    margin-top: -22px;  
    font-size: 15px;
    margin-left: 3px;
}
.block-hello-guys__man{
    width: 40%;
    height: 100%;
}
.block-hello-guys__man-img{
    height: 123px;
    width: 110px;
    margin-top: -17px;
    margin-left: -24px;
}


.hello__content-level{
    display: flex;
    margin: 10px 0px 0px 0px;
    width: 262px;
    height: 53px;
}
.content-level__block-level{
    display: flex;
    width: 76%;
    height: 36px;
    padding: 4px;
    border-radius: 7px 7px;
    background-color: #F5F5F7;
}
.block-level__xbox-block{
    display: flex;
    position: relative;
    width: 52px;
    padding: 3px;
    left: -2px;
    border-radius: 10px 10px;
    justify-content: center;
    background-color: #ffffff;
}
.block-level__xbox-img{
    width: 25px;
}
.block-level__block-text{
    width: 70%;
    height: 76%;
    margin-left: 4px;
    background-color: #F5F5F7;
}
.block-text__text-english{
    font-family: "Poetsen One";
    margin-top: 6px;
    font-size: 12px;
    color: #000000;
}
.block-text__text-name{
    font-family: "Roboto";
    font-size: 10px;
    font-weight: 400;
    margin-top: -12px;
    color: #0C0B0B;
}
.block-level__percentage-img{
    position: relative;
    width: 22px;
    height: 30px;
    left: -5px;
    margin-top: 6px;
}
.block-level__block-continue{
    color: white;
}
.block-continue__continue-text{
    display: flex;
    width: 59px;
    height: 25px;
    font-size: 13px;
    margin-top: 7px;
    margin-left: -2px;
    border-radius: 7px 7px;
    align-items: center;
    justify-content: center;
    font-family: "Poetsen One";
    background: black;
}
.content-level__arrows-img{
    width: 50px;
    margin-top: -3px;
    margin-left: 3px;
}


.block-left__courses{
    display: block;
    width: 262px;
    height: 300px;
    margin-top: -6px;
}
.courses__block-course{
    margin-bottom: 6px;
}
.block-course__text-course{
    font-size: 17px;
    font-family: "Baloo Bhaijaan 2";
    font-weight: 700;
    margin: 0px;
}
.block-left__all-courses{
    display: flex;
    width: 100%;
    margin-top: -6px;
}
.all-courses__text-courses{  
    color: #000000;
    font-size: 15px; 
    font-weight: 600;
    font-family: "Baloo Bhaijaan 2";   
    margin-top: 0px;
}
.all-courses__languages-text{
    font-size: 15px;
    font-family: "Baloo Bhaijaan 2";
    margin: 0px 0px 0px 10px;
    color: #CDCCCC;
}


.content__block-right{
    margin: 10px 7px 15px 0px;
}
.block-right__search{
    display: flex;
    width: 264px;
    height: 120px;
    background-color:deeppink;
}
.block-right__experience{
    display: block;
    width: 264px;
    height: 300px;
    margin: 5px 0px 0px 0px;
    background-color: darkmagenta;
}
